{{ define "main" }}
  <header class="text-center mb-28">
    {{- $imagePath := (index .Site.Params.images 0) -}}
    {{- $image := resources.Get $imagePath -}}
    <img class="mx-auto w-18 h-18 rounded-full" src="{{ $image.RelPermalink }}">
    {{/* FIXME: Style these properly */}}
    <h1 class="text-2xl/12 mt-2.5 mb-0 font-bold">{{ .Site.Title }}</h1>
    <p class="text-slate-400">{{ .Description }}</p>
  </header>
  {{ .Content }}
  <ul>
    {{ range site.RegularPages -}}
    <li class="flex justify-between">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>

      <span>
        {{ if .Params.IsStarred }}
        {{ partial "icons/icon" (dict "vendor" "bootstrap" "name" "star-fill" "className" "h-3.5 w-3.5 text-yellow-500 align-baseline mr-2") }}
        {{ end }}
        {{ if not .Date.IsZero -}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
            {{- time.Format "1 Jan 2006" .Date -}}
        </time>
        {{- end }}
      </span>
    </li>
  {{ end }}</ul>
{{ end }}
